.email, .phone, .skype, .edit{
	background: url(sprites.png) no-repeat;
}

.email{
	background-position: 0 -200px ;
	width: 100px;
	height: 100px;
}

.phone{
	background-position: 0 -100px ;
	width: 100px;
	height: 100px;
}

.skype{
	background-position: 0 0;
	width: 100px;
	height: 100px;
}

.edit{
	background-position: -124px -28px ;
	width: 50px;
	height: 50px;
}

